body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

header {
    display: flex;


    align-items: center;

    padding: 1rem 1rem;
}

header .start {
    margin-right: auto;
    display: flex;

    gap: 1rem;
}

header .middle {
    margin: 0 16px;
    display: flex;
}

header .end {
    margin-left: auto;
    display: flex;
}

main {
    flex: 1;
    padding: 1rem 1rem;

    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
}

footer {
    display: flex;
    align-items: start;
    justify-content: center;

    padding: 1rem 1rem;

    gap: 1rem;
}

footer h2 {
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 1rem;
}

.hero > * {
    margin: 0;
}